body {
	background-color: #ccc;
}
.header, .title-words {
	a {
		text-decoration: none;
	}
}
.header {
	a {
		&:hover {
			color: #fff;
		}
	}
}
.title-words {
	a {
		color: #000;
		margin: 10px 0px;
		font-size: 100px;
		cursor: pointer;
		display: block;
		border-bottom: 1px solid #fff;
		&:hover {
			color: #0548ff;
		}
		&:last-of-type {
			border-bottom: none;
		}
	}
}